{% if item.redirect_www == true %}
server {
    listen 80;
    server_name {{ item.domain }};
    rewrite ^(.*) https://www.{{ item.domain }}$1 last;
}
{% else %}
server {
    listen 80;
    server_name www.{{ item.domain }};
    rewrite ^(.*) https://{{ item.domain }}$1 last;
}
{% endif %}

server {
    listen 80;
    root   {{ item.document_dir }}/wordpress/src;
    {% if item.redirect_www == true %}
    server_name www.{{ item.domain }};
    {% else %}
    server_name {{ item.domain }};
    {% endif %}
    index index.html index.php;

    client_max_body_size 512M;

    access_log /var/log/nginx/{{ item.domain }}.access.log ltsv;
    error_log  /var/log/nginx/{{ item.domain }}.error.log  warn;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    location ~ .*\.(jpe?g|jpg|gif|png|woff|svg|swf|wmv|flv|ico) {
        access_log off;
        expires 90d;
    }

    location ~ .*\.(css|js) {
        access_log off;
        expires 15d;
    }

    location ~ \.php$ {
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;

        include fastcgi_params;

        proxy_buffering         on;
        proxy_buffer_size       256K;
        proxy_busy_buffers_size 512K;
        proxy_buffers           364 256K;

        fastcgi_read_timeout    2000;
        fastcgi_connect_timeout 2000;
        fastcgi_send_timeout    2000;

        fastcgi_param BST_DB_HOST "{{ nginx_db_host }}";
        fastcgi_param BST_DB_USER "{{ nginx_db_user }}";
        fastcgi_param BST_DB_PASS "{{ nginx_db_password }}";
        fastcgi_param BST_DB_NAME "{{ item.db_name }}";
        fastcgi_param BST_DEBUG "false";
    }
}