user  nginx;
worker_processes  auto;
worker_rlimit_nofile  4096;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    server_tokens  off;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    log_format  ltsv  'time:$time_local\t'
                      'remote_addr:$remote_addr\t'
                      'request_method:$request_method\t'
                      'request_length:$request_length\t'
                      'request_uri:$request_uri\t'
                      'https:$https\t'
                      'uri:$uri\t'
                      'query_string:$query_string\t'
                      'status:$status\t'
                      'bytes_sent:$bytes_sent\t'
                      'body_bytes_sent:$body_bytes_sent\t'
                      'referer:$http_referer\t'
                      'useragent:$http_user_agent\t'
                      'forwardedfor:$http_x_forwarded_for\t'
                      'request_time:$request_time\t'
                      'upstream_response_time:$upstream_response_time';

    access_log  /var/log/nginx/access.log  ltsv;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    gzip              on;
    gzip_http_version 1.1;
    gzip_min_length   1024;
    gzip_comp_level   2;
    gzip_proxied      any;
    gzip_buffers      32 8k;
    gzip_types        text/plain
                      text/css
                      text/javascript
                      image/gif
                      image/jpeg
                      image/png
                      text/xml
                      application/xml
                      application/rss+xml
                      application/json
                      application/javascript
                      application/x-javascript;

    include /etc/nginx/conf.d/*.conf;
}